<div id="<%= dom_id game %>">
  <%= "Game ID: #{game.id}" %>
  <%= tag.br %>
  <%= "User ID: #{game.user_id}" %>
  <%= tag.br %>
  <%= "Turn: #{game.current_turn}" %>
  <%= tag.br %>
  <%= "Status: #{game.status}" %>
</div>
